pydantic
pydantic_settings
pydantic[email]
fastapi
python-multipart
uvicorn
httpx
loguru
openai
aiosqlite
pytest
pytest-asyncio
lancedb
pandas
sentence-transformers
sqlalchemy

aiosmtplib  # for sending emails